@import "./../../../styles/mixins.style.scss";

.mapcontainer {
  @include space(padding, all, 5px);
  @include space(margin, bottom, 10px);
  width: 100%;
}
.instruction {
  margin-bottom: -10px;
  background-color: #004682d1;
  color: #ffffff;
  padding: 5px;
  margin-top: -25px;
  position: relative;
  font-size: small;
}
