@import "./../../styles/mixins.style.scss";

.amb {
  position: relative;
  //max-width: 920px;
  min-height: 180px;

  overflow-x: hidden;
}
.bg-move {
  position: absolute;
  top: 0;
  bottom: 0;
  right: auto;

  width: 100%;
  //background-image: url("./../../assets/ambulance.png");

  background-size: contain;
  background-repeat: no-repeat;
}
.coronaDataHolder {
  @include displayType(flex);
  font-size: small;
  font-weight: bold;
  @include space(padding, left, 5px);
  @include space(padding, right, 5px);
  @include space(margin, top, 5px);
}
.coronaDataHolderDesc {
  @include displayType(flex);
  font-size: small;
  @include space(padding, left, 5px);
  @include space(padding, right, 0);
  font-size: small;
}

.coronaDataHolderTitle {
  font-weight: bold;
  color: #ffffff;
  @include space(padding, left, 10px);
  @include space(padding, right, 10px);
  @include space(margin, top, 2px);
}
.displayAmb1 {
  background-image: url("./../../assets/ambulance.png");
  text-align: left;
  justify-content: flex-start;
}
.displayAmb2 {
  background-image: url("./../../assets/ambulance2.png");
  text-align: right;
  justify-content: flex-end;
}
.displayAmb2 * {
  justify-content: flex-end;
}
.dataHolder {
  float: left;
  margin-left: 5px;
  @include space(margin, top, 10px);
  display: flex;
  width: 100%;
  font-size: small;
  text-align: center;
}
.coronaDetailsPromptHolder {
  float: left;
  margin-left: 5px;
  display: flex;
  width: 100%;
  font-variant: all-petite-caps;
  color: #000000;
  text-decoration: underline;
  text-align: start;
  text-decoration-color: #ffffff;
}
.dataHolder div {
  margin-right: 5px;
}

.displayAmb2 .dataHolder div {
  margin-right: 3px;
}

.displayAmb2 .dataHolder {
  float: right;
  margin-left: 2px;
}

.displayAmb2 .coronaDetailsPromptHolder {
  float: right;
  margin-right: 10px;
}

.dataDiv {
  font-weight: bold;
}
//test
.ambLight {
  background-color: #ffffff00;
  height: 10px;
  width: 10px;
  position: relative;
  left: 50%;
}
/* .displayAmb2 .ambLight {
  background-color: #ffffff00;
  height: 10px;
  width: 10px;
  position: absolute;
  left: 32%;
  top: 15%;
} */
.light--flash {
  animation: glowing 0.5s linear infinite;
}
@keyframes glowing {
  0%,
  50%,
  100% {
    background-color: #004a7f;
    box-shadow: 0 0 3px #004a7f;
  }
  25%,
  75% {
    background-color: #0094ff;
    box-shadow: 0px 0px 100px 25px #0094ff;
  }
}

.horizTranslate {
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -ms-transition: 3s;
  -o-transition: 3s;
  transition: 3s;
  margin-left: 50% !important;
}
.ambulancePromptHolder {
  width: 100%;
  padding: 10px;
  background-color: #d82c34;
  text-align: center;
  font-weight: 900;
  font-size: large;
  color: #ffffff;
}
.ambulanceContainer {
  width: 100%;
  border: 10px solid #d82c34;
  padding: 10px;
  margin-bottom: 50px;
  background-color: #ffffff;
}
mark {
  background-color: #e6272b;
  color: #ffffff;
  padding: 2px;
  border-radius: 5px;
}
@media (min-width: 641px) {
  .displayAmb2 .dataHolder div {
    margin-right: 3px;
  }

  .displayAmb2 .dataHolder {
    float: left;
    margin-left: 2px;
    width: 50%;
  }

  .displayAmb2 .coronaDetailsPromptHolder {
    float: right;
    margin-right: 10px;
    float: right;
    /* margin-left: 0px; */
    /* right: 21px; */
    width: 70%;
    text-align: center;
    display: flex;
    justify-content: flex-start;
  }
  .coronaDataHolderTitle {
    font-weight: bold;
    color: #ffffff;
    @include space(padding, left, 10px);
    @include space(padding, right, 10px);
    @include space(margin, top, 2px);
    width: 50%;
  }
}
@media (min-width: 961px) {
  .displayAmb2 .dataHolder div {
    margin-right: 3px;
  }

  .displayAmb2 .dataHolder {
    float: left;
    margin-left: 2px;
    width: 40%;
  }

  .displayAmb2 .coronaDetailsPromptHolder {
    float: right;
    margin-right: 10px;
    float: right;
    /* margin-left: 0px; */
    /* right: 21px; */
    width: 70%;
    text-align: center;
    display: flex;
    justify-content: flex-start;
  }
  .coronaDataHolderTitle {
    font-weight: bold;
    color: #ffffff;
    @include space(padding, left, 10px);
    @include space(padding, right, 10px);
    @include space(margin, top, 2px);
    width: 40%;
  }
}
@media (min-width: 481px) {
  .displayAmb2 .dataHolder div {
    margin-right: 3px;
  }

  .displayAmb2 .dataHolder {
    float: left;
    margin-left: 2px;
    width: 57%;
  }

  .displayAmb2 .coronaDetailsPromptHolder {
    float: right;
    margin-right: 10px;
    float: right;
    /* margin-left: 0px; */
    /* right: 21px; */
    width: 70%;
    text-align: center;
    display: flex;
    justify-content: flex-start;
  }
  .coronaDataHolderTitle {
    font-weight: bold;
    color: #ffffff;
    @include space(padding, left, 10px);
    @include space(padding, right, 10px);
    @include space(margin, top, 2px);
    width: 57%;
  }
}
@media (min-width: 1025px) {
  .displayAmb2 .dataHolder div {
    margin-right: 3px;
  }

  .displayAmb2 .dataHolder {
    float: left;
    margin-left: 2px;
    width: 40%;
  }

  .displayAmb2 .coronaDetailsPromptHolder {
    float: right;
    margin-right: 10px;
    float: right;
    /* margin-left: 0px; */
    /* right: 21px; */
    width: 70%;
    text-align: center;
    display: flex;
    justify-content: flex-start;
  }
  .coronaDataHolderTitle {
    font-weight: bold;
    color: #ffffff;
    @include space(padding, left, 10px);
    @include space(padding, right, 10px);
    @include space(margin, top, 2px);
    width: 40%;
  }
}
