@import "./../../../styles/mixins.style.scss";
.searchBoxHospitalContainer {
  margin-top: -15px;
  background-color: #ffffff;
  /* width: 90%; */
  margin-left: 10px;
  margin-right: 10px;
}
.searchIconHolder {
  background-color: #639ab685;
  border-bottom: 1px solid #878787;
  color: #004887;
  border-top-left-radius: 1px;
  padding-top: 15px;
}
