.App {
  text-align: center;
}
.displayFlex {
  display: flex;
}
.loadTrackerWelcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 70px;
}
.loaderContainer {
  display: flex;
  padding: 50px;
  justify-content: center;
}
.loaderTextContainer {
  color: #93a7c5;
}

.transparentBorder {
  box-shadow: 0px 3px 3px 0px #00000033, 3px 3px 2px 3px #00000026, 0px 1px 8px 0px #0000001f;
}
.shadowCustom {
  box-shadow: 0px 0px 0px 0px #00000033, 0px 2px 7px 4px #00000026, 0px 1px 0px 0px #0000001f;
}
.MuiPaper-elevation3 {
  box-shadow: 0px 3px 3px -2px #0000002e, 0px 3px 4px 0px #0000002b, 0px 1px 8px 0px #000000a3 !important;
}
.MuiDialog-paperFullWidth {
  top: 40px;
}
.MuiTableCell-root {
  text-align: left !important;
  padding: 5px !important;
}
.containerApp {
  min-height: 100%;
}
